<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/{{ site.favicon }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Android 编译系统参考手册,Android 编译系统,Cyanogenmod 编译,Android变量参考">
    <meta name="description" content={{ site.description }} ">
    <link type="text/css " href="</assets/css/jquery.jscrollpane.css" rel="stylesheet " media="all " />
    <link type="text/css " href="/assets/css/common.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="/assets/css/jquery.treeview.css" />
    <script type="text/javascript" src="/assets/scripts/jquery.min.js "> </script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="/assets/scripts/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/jquery.treeview.js"></script>
    <script type="text/javascript" src="/assets/scripts/functions.js"></script>

    <!-- CSS set in page -->
    {% for css in page.css %}
    <link rel="stylesheet" href="/assets/css/{{css}}"> 
    {% endfor %}
</head>
